# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
*.sqlite3-journal

# Django stuff
*.log
local_settings.py

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo 